<% @messages.select{|m| m[:reply_to_message_id] == parent_message_id}.each do |message_info| %>

<div class="parentPost">

	<div class="post reply">

		<% user = @users.select{|s| s[:id] == message_info[:user_id]}.first; %>
		<span>by <%= user[:first_name] %> <%= user[:last_name] %></span>

		<p><%= message_info[:body] %></p>
		<%= form_tag("/messages/reply") do %>
			<%= hidden_field_tag "message[reply_to_message_id]", message_info[:id] %>
			<%= text_area_tag "message[body]" %><br />
			<%= submit_tag "", :class => 'button post' %>
		<%end%>
	</div>

	<%= render :partial=>'reply', :locals=>{:parent_message_id=>message_info[:id]} %>

</div>

<% end %>