<% @messages.select{|m| m[:reply_to_message_id] == parent_message_id}.each do |message_info| %>

<div class="childPosts">

	<div class="post reply">

		<% user = @users.select{|s| s[:id] == message_info[:user_id]}.first; %>
		<span>by <%= user[:first_name] %> <%= user[:last_name] %></span>

		<p><%= message_info[:body] %></p>


		<span class="replyButton">Reply</span>

		<div class="replyForm">
			<%= form_tag(messages_reply_path) do %>
				<%= hidden_field_tag "message[reply_to_message_id]", message_info[:id] %>
				<%= text_area_tag "message[body]" %><br />
				<%= submit_tag "", :class => 'button post' %>
			<%end%>
		</div>

	</div>


	<%= render :partial=>'reply', :locals=>{:parent_message_id=>message_info[:id]} %>

</div>

<% end %>