<h1>New Message</h1>

<%= render :partial=>'shared/errors' %>

<%= form_tag("/messages/create") do %>
	<table>
		<tr>
			<td style="vertical-align:top"><%= label_tag "message[title]", "Title:" %></td>
			<td><%= text_field_tag "message[title]" %></td>
		</tr>
		<tr>
			<td style="vertical-align:top"><%= label_tag "message[body]", "Body:" %></td>
			<td><%= text_area_tag "message[body]", nil, :size => "100x25" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag "Submit" %></td>
		</tr>
	</table>
<% end %>