<h1>New Message</h1>

<%= render :partial=>'shared/errors' %>

<%= form_tag("/messages/create") do %>
	<%= label_tag "message[title]", "Title:" %>
	<%= text_field_tag "message[title]" %>
	<%= label_tag "message[body]", "Body:" %>
	<%= text_field_tag "message[body]" %>
	<%= submit_tag "Submit" %>
<% end %>