<div class="newPost">

	<%= render :partial=>'shared/errors' %>

	<%= form_tag(messages_create_path) do %>

	<h1>Title</h1>
	<%= text_field_tag "message[title]" %>
	<br /><br />

	<h1>Body</h1>
	<%= text_area_tag "message[body]" %>
	<br /><br />

	<%= submit_tag "Post", :class => 'button' %>

	<% end %>

</p>