<!-- ## Post (full) ## -->

<div><%= link_to "Back to messages", "list"%></div>

<div class="post">

	<h1><%= @message[:title] %></h1>
	<% user = @users.select{|s| s[:id] == @message[:user_id]}.first; %>
	<span>posted by <%= user[:first_name] %> <%= user[:last_name] %></span>	

	<%= render :partial=>'shared/errors' %>

	<p><%= @message[:body] %></p>

	<br />
	
	<%= form_tag("/messages/reply") do %>
		<%= hidden_field_tag "message[reply_to_message_id]", @message[:id] %>
		<%= text_area_tag "message[body]" %><br />
		<%= submit_tag "", :class => 'button post' %>
	<%end%>

</div>

<%= render :partial=>'reply', :locals=>{:parent_message_id=>@message[:id]} %>
