<div class="login">

	<%= image_tag "logo.png" %>

	<div class="credentials">

		<%= render :partial=>'shared/errors' %>

		<%= form_tag("/session/create") do %>

			<%= text_field_tag "credentials[email]", nil, :placeholder => 'Username or email'%>

			<%= password_field_tag "credentials[password]", nil, :placeholder => 'Password' %>
			<%= submit_tag "", :class => 'button login' %>

		<% end %>

	</div>

	<p>New? <%= link_to "Sign Up", "/user/register" %></p>	

</div>