<h1>Log In</h1>

<%= render :partial=>'shared/errors' %>

<%= form_tag("/session/create") do %>
	<%= label_tag "credentials[email]", "Email:" %>
	<%= text_field_tag "credentials[email]" %>
	<%= label_tag "credentials[password]", "Password:" %>
	<%= password_field_tag "credentials[password]" %>
	<%= submit_tag "Log In" %>
<% end %>