<div class="settings">
	
	<h1>Sign Up for free</h1>

	<%= render :partial=>'shared/errors' %>

	<%= form_tag(user_create_path) do %>

	<div>
		<%= label_tag "user[first_name]", "First Name" %>
		<%= text_field_tag "user[first_name]" %>
	</div>	
		

	<div>	
		<%= label_tag "user[last_name]", "Last Name" %>
		<%= text_field_tag "user[last_name]" %>
	</div>
			
	<div>			
		<%= label_tag "user[email]", "Email Address" %>
		<%= text_field_tag "user[email]" %>
	</div>

			
	<div>			
		<%= label_tag "user[password]", "Password" %>
		<%= password_field_tag "user[password]" %>
	</div>

			
	<div>			
		<%= label_tag "user[password_confirmation]", "Password Confirm" %>
		<%= password_field_tag "user[password_confirmation]" %>
	</div>
			
			
	<%= submit_tag "Sign Up", :class => 'button signup' %>
			
	
	<% end %>

</div>