<h1>Register</h1>

<%= render :partial=>'shared/errors' %>

<%= form_tag("/user/create") do %>
	<%= hidden_field_tag "user[id]", -1 %>
	<%= label_tag "user[first_name]", "First Name:" %>
	<%= text_field_tag "user[first_name]" %>
	<%= label_tag "user[last_name]", "Last Name:" %>
	<%= text_field_tag "user[last_name]" %>
	<%= label_tag "user[email]", "Email Address:" %>
	<%= text_field_tag "user[email]" %>
	<%= label_tag "user[password]", "Password:" %>
	<%= password_field_tag "user[password]" %>
	<%= label_tag "user[password_confirmation]", "Password Confirmation:" %>
	<%= password_field_tag "user[password_confirmation]" %>
	<%= submit_tag "Register" %>
<% end %>