<h1>Register</h1>

<%= render :partial=>'shared/errors' %>

<%= form_tag("/user/create") do %>
	<table>
		<tr>
			<td><%= label_tag "user[first_name]", "First Name:" %></td>
			<td><%= text_field_tag "user[first_name]" %></td>
		</tr>
		<tr>
			<td><%= label_tag "user[last_name]", "Last Name:" %></td>
			<td><%= text_field_tag "user[last_name]" %></td>
		</tr>
		<tr>
			<td><%= label_tag "user[email]", "Email Address:" %></td>
			<td><%= text_field_tag "user[email]" %></td>
		</tr>
		<tr>
			<td><%= label_tag "user[password]", "Password:" %></td>
			<td><%= password_field_tag "user[password]" %></td>
		</tr>
		<tr>
			<td><%= label_tag "user[password_confirmation]", "Password Confirmation:" %></td>
			<td><%= password_field_tag "user[password_confirmation]" %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag "Register" %></td>
		</tr>
	</table>
<% end %>