<!DOCTYPE html>
<html>
<head>
  <title>Yaddit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
	<%= link_to "Sign Out", "/session/destroy" %>
<% else %>
	<%= link_to "Sign Up", "/user/register" %> or <%= link_to "Log In", "/session/log_in" %>
<% end %>
<br/>
<%= yield %>

</body>
</html>
