<!DOCTYPE html>
<html>
<head>
  <title>Yaddit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>

	<!-- ## Heading ## -->
	<div class="heading">
		<h1 class="logo">Yaddit</h1>
		<h1 id="newmessages"><%= link_to "New", "/messages/list" %></h1>
		<h1 id="submit"><%= link_to "Submit", "/messages/new" %></h1>
		<a href="#"><%= image_tag "icon_options.png", :id => "userOptionsBtn" %></a>
	</div>

	<!-- ## User Options ## -->
	<div id="userOptions">

		<%= link_to "Logout", "/session/destroy" %>

	</div>

<% end %>

<div class="contentContainer">
	<%= yield %>
</div>

</body>
</html>
