<!DOCTYPE html>
<html>
<head>
  <title>Yaddit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>

	<!-- ## Heading ## -->
	<div class="heading">
		<h1 class="logo"><%= link_to "Yaddit", messages_list_path %></h1>
		<h1 id="newmessages"><%= link_to "Messages", messages_list_path %></h1>
		<h1 id="submit"><%= link_to "New", messages_new_path %></h1>
		<a href="#"><%= image_tag "icon_options.png", :id => "userOptionsBtn" %></a>
	</div>

	<!-- ## User Options ## -->
	<div id="userOptions">

		<!-- TODO: Insert username here -->
		<!-- (if admin): --><%= link_to "Admin", admin_path %></a><!-- (/endif) --><br />
		<%= link_to "Logout", logout_path %>

	</div>

<% end %>

<div class="contentContainer">
	<%= yield %>
</div>

</body>
</html>
